/*чтобы не было сюрпризов с псевдоэелементами before and after*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /*используя наследование так- проще при работе с библиотеками*/
  box-sizing: inherit;
}
html {
  /*пишем не 10пикселей, а в процентах, чтобы пользователи могли менять шрифт у себя*/
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
}